<header>
  <nav>
      <div class="navbar">
        <a href="/" class="logo">GitPub</a>
        <!-- edit drop style so not a button and apply same to listings -->
        <div class="dropdown">
          <div class="dropbtn">CATEGORIES</div>
          <div class="dropdown-list" id="myDropdown">
            <a href="/sourBeers">SOUR BEERS</a>
            <a href="/wine">WINE</a>
            <a href="/spirits">SPIRITS</a>
            <a href="/coolers">COOLERS</a>
          </div>
          </div>
        <a class="filter" href="/filter">FILTER</a>
        <div class="dropdown">
          <div class="dropbtn">LISTINGS</div>
          <div class="dropdown-list" id="myDropdown">
            <a href="/listings/myListings">My Listings</a>
            <a href="/favourites">Favourites</a>
            <a href="/listings/newListing">Create New Listing</a>
          </div>
        </div>
  </nav>
</header>
