<header>
  <nav>
    <div>
      <div class="navbar">
        <div><a href="/">GitPub</a></div>
        <div class="dropdown">
          <button class="dropbtn">Categories</button>
          <div class="dropdown-list" id="myDropdown">
            <a href="/categories/sourBeers">SourBeers</a>
            <a href="/categories/wine">Wine</a>
            <a href="/categories/spirits">Spirits</a>
            <a href="/categories/coolers">Coolers</a>
          </div>
        </div>
        <div><a href="/filter">Filter</a></div>
        <div>
          <a href="/mylistings">Listings</a>
          <a href="/messages">Messages</a>
        </div>
      </div>
    </div>
  </nav>
</header>


