<header>
  <nav>
<<<<<<< HEAD
      <div class="navbar">
        <a href="/" class="logo">GitPub</a>
        <!-- edit drop style so not a button and apply same to listings -->
        <div class="dropdown">
          <button class="dropbtn">CATEGORIES</button>
          <div class="dropdown-list" id="myDropdown">
            <a href="/categories/sourBeers">SOUR BEERS</a>
            <a href="/categories/wine">WINE</a>
            <a href="/categories/spirits">SPIRITS</a>
            <a href="/categories/coolers">COOLERS</a>
          </div>
          </div>
        <a href="/filter">FILTER</a>
        <a href="/mylistings">LISTINGS</a>
        <a href="/messages">MAIL</a>
=======
    <div class="navbar">
      <a href="/">GitPub</a>
      <!-- edit drop style so not a button and apply same to listings -->
      <div class="dropdown">
        <button class="dropbtn">Categories</button>
        <div class="dropdown-list" id="myDropdown">
          <a href="/categories/sourBeers">SourBeers</a>
          <a href="/categories/wine">Wine</a>
          <a href="/categories/spirits">Spirits</a>
          <a href="/categories/coolers">Coolers</a>
        </div>
      </div>
      <a href="/filter">Filter</a>
      <!-- <a href="/mylistings">Listings</a> -->
      <div class="dropdown">
        <button class="dropbtn">Listings</button>
        <div class="dropdown-list" id="myDropdown">
          <a href="/listings/myListings">My Listings</a>
          <a href="/listings/favourites">Favourites</a>
          <a href="/listings/newListing">Create New Listing</a>
        </div>
      </div>
      <a href="/messages">Messages</a>
>>>>>>> master
    </div>
  </nav>
</header>
