<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Send Message</title>

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">


  <!-- style sheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <header><%- include('partials/_header') %></header>

  <!-- Page-specific (main) content here -->
  <main class="container">
    <h1>Contact Seller</h1>

    <div class="large-image"></div>

    <form action="sendMessage" method="POST" id="sendMessage">
      <div class="create_form">
        <label for="beverage">Beverage</label>
        <input type="text" name="beverage" placeholder="Beverage" id="beverage_name">
      </div>
       <div><label for="price">Price</label>
        <input type="number" name="price" placeholder="$" id="price">
      </div>
      <div>
        <label for="category">Category</label>
        <input type="text" name="category" placeholder="Sour Beers" id="category">
      </div>
      <div>
        <label for="Posted_at">Posted:</label>
        <input type="text" name="posted_at" placeholder="date" id="posted_at">
      </div>
      </div>
    </form>

      <form action=”mailto:contact@yourdomain.com”
      method=”POST” enctype=”multipart/form-data
      name=”EmailForm”>Name:<br><input type=”text” size=”19″ name=”ContactName”><br><br>Message:<br> <textarea name=”ContactCommentt” rows=”6″ cols=”20″>
      </textarea><br><br><div class="create_form">
        <button>Submit</button>
        <a id="create_form_clear" href="/newListing">Reset</a>
    </div>  </form>
  </form>
</div>


  </div>

    </section>
  </main>
  <div class="bottomGradientBar"></div>
</body>

</html>
