body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

.container {
  margin-top: 150px;
  width: 90%;
  height: 100vh;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
}

#listings-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listing {
  width: 30%;
  height: 300px;
}

.thumbnail {
  max-width: 100%;
  height: 150px;
  display: flex;
  align-self: center;
  margin: auto;
}

.listingFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listing {
  border: solid 0.2em #c78015;
  margin-bottom: 2em;
  padding: 1em;
}

.image {
  position: relative;
}
