body {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  background: #FFFFFF;
}

.super_headline {
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  text-transform: uppercase;
  color: #F86624;
  letter-spacing: .0625em;
}

h3 {
  text-align: center;
  padding: 5px;
  margin-bottom: 0;
}

.listingDescription {
  font-size: .875em;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.6em;
  padding: 10px;
  margin-top: 0;
}

.sold {
  font-weight: 400;
  font-size: .85em;
  letter-spacing: 0.125em;
  color: #FFFFFF;
  background-color: #EA3546;
  border: 2px solid #EA3546;
}

.container {
  margin-top: 75px;
  margin-bottom: 25px;
  width: 90%;
  // height: 100vh;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
}

#listings-container {
  // height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card_container_with_buttons {
  display: flex;
  width: 30%;
  flex-direction: column;
}

.card_frame {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 500px;
  max-height: 900px;
  margin: 10px;
  border: solid 10px #EA3546;
  margin-bottom: 2em;
  position: relative;
  transition: .5s ease;
}

.thumbnail {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}

.card_frame:hover{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  transition: .5s ease;
}

.listingFooter {
  width: 100%;
  height: 100px;
  background-color: #EA3546;
  display: flex;
  justify-content: center;
}

.listing_footer_elements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

// .dollars {
//   width: 25%;
// }

.price {
  font-weight: 400;
  font-size: 3em;
  color: #FFFFFF;
  text-align: center;
}

.postedat {
  display: inline-flex;
  width: 27%;
  font-size: 0.675em;
  text-transform: uppercase;
  text-align: center;
}

.image {
  position: relative;
}

.cardmail {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.small_mail {
  cursor: pointer;
  width: 55%;
  height: 55%;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.small_mail:hover {
  animation: bounce 1s;
}

.sold_id {
  background-color: transparent;
  border: 0;
}

.sold_icon {
  cursor: pointer;
  width: 113%;
  height: 113%;
}


.sold_icon:hover {
  animation: bounce 1s;
}

.heart {
  cursor: pointer;
  width: 60%;
  height: 60%;
}

.heart:hover {
  animation: bounce 1s;
}

.delete {
  cursor: pointer;
  width: 140%;
  height: 140%;
}

.delete:hover {
  animation: bounce 1s;
}

.blackheart {
  cursor: pointer;
  width: 60%;
  height: 60%;
}

.filter_form {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.send_to {
  margin-top: 0;
  font-weight: 400;
}

.email_field {
  overflow: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 5px;
  background-color: #F9C80E;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.form_frame_filter {
  margin: auto;
  font-weight: 400;
  letter-spacing: .0675em;
  text-transform: uppercase;
  border-radius: 10px;
  border: solid 10px #EA3546;
  max-width: 40%;
  padding-top:20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom:20px;
  margin-bottom: 40px;
  transition: .5s ease;
}

.form_frame_filter_b {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-weight: 400;
  letter-spacing: .0675em;
  text-transform: uppercase;
  border-radius: 10px;
  border: solid 10px #EA3546;
  max-width: 40%;
  padding-top:20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom:20px;
  margin-bottom: 40px;
  transition: .5s ease;
}

.form_frame_filter:hover {
  box-shadow: 10px 10px 5px #ababab;
  transition: .5s ease;
}

.form_frame_filter_b:hover {
  box-shadow: 10px 10px 5px #ababab;
  transition: .5s ease;
}

.filter_from {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.form_frame {
  margin: auto;
  font-weight: 400;
  letter-spacing: .0675em;
  text-transform: uppercase;
  border-radius: 10px;
  border: solid 10px #EA3546;
  max-width: 60%;
  padding-top:20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom:20px;
  transition: .5s ease;
}

.form_frame:hover {
  box-shadow: 10px 10px 5px #ababab;
  transition: .5s ease;
}

.create_new_listing {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

input {
  cursor: pointer;
  border-radius: 5px;
  padding-left: 10px;
  border: 0;
  background-color:#F9C80E;
  height: 40px;
}

label{
  display: block;
  padding-bottom: 5px;
}

select {
  border-radius: 5px;
  padding-left: 10px;
  border: 0;
  background-color:#F9C80E;
  height: 40px;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: .075em;
  text-transform: uppercase;
  color: rgba(234, 53, 70, 0.5);
}

.select_filter {
  border-radius: 5px;
  padding-left: 10px;
  border: 0;
  background-color:#F9C80E;
  height: 40px;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: .075em;
  text-transform: uppercase;
  color: rgba(234, 53, 70, 0.5);
  margin-bottom: 15px;
}

input[type=text] {
  font-weight: 600;
  font-size: 1em;
  letter-spacing: .075em;
  text-transform: uppercase;
  color: #EA3546;

}

input[type=number] {
  font-weight: 600;
  text-transform: uppercase;
  font-size: .875em;
  letter-spacing: .075em;
  color: #EA3546;
}

.submit {
  cursor: pointer;
  font-weight: 700;
  letter-spacing: .075em;
  text-transform: uppercase;
  margin-top: 5px;
  align-self: center;
  width: 30%;
  border-radius: 8px;
  border: 0;
  background-color: #EA3546;
  color:#F9C80E;
  height: 40px;
}

.submit:hover {
  color:#F86624;
}

.reset {
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: .075em;
  text-transform: uppercase;
  margin-top: 15px;
  align-self: center;
  width: 30%;
  border-radius: 8px;
  border: 0;
  background-color: #EA3546;
  height: 40px;
}

.reset_button_text {
  text-decoration: none;
  color:#F9C80E;
}

.reset_button_text:hover {
  color:#F86624;
}

.bottomGradientBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: linear-gradient(#F86624, #EA3546);
}
