// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

header {
  position: absolute;
  top: 0; left: 0
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  background: linear-gradient(#F86624, #EA3546);
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  z-index: 9;
}

.navbar .logo {
  font-weight: 700;
  font-size: 1.5em;
}

.navbar a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
}

.dropdown {
  // background-color: #EA3546;
  display: inline-block;
  position: relative;
}

.dropbtn {
  font-weight: 400;
    width: 200px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    z-index: 9;
}

.dropdown-list {
  border-radius: 10px;
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown:hover .dropdown-list {
  display: block;
}
.dropdown-list a {
  color: #FFFFFF;
  background-color: #EA3546;
  padding: 5px;
  text-decoration: none;
  display: block;
}

.dropdown-list a:hover {
  color: #ffffff;
  background-color: #F9C80E
}

.mail {
  width: 60%;
  height: 60%;
}



